### 1.Take a list of elements and add that list into another empty list

In [20]:
l1 = [1,2,3,4,5,6,7]
l2 = l1.copy()
print(l2)

[1, 2, 3, 4, 5, 6, 7]

### 2.Sort the list of elements in ascending order and descending order.

In [25]:
l1 = [5,6,7,1,9,2,4,3,2]
l1.sort()
print("ascending order",l1)


l1.sort(reverse = True)
print("descending order ",l1)

ascending order [1, 2, 2, 3, 4, 5, 6, 7, 9]
descending order  [9, 7, 6, 5, 4, 3, 2, 2, 1]

### 3. Given a two list of equal size create a set such that it shows the element from both lists in the pair.

In [61]:
l1 = [1,2,3]
l2 = [3,2,1]
a = 0
for a in range (0,3):
    
    if a>=0:
        print(l1[a],l2[a])
        a =+ 1

1 3
2 2
3 1

### 4. Write a python program to print the sum and average of elements in the list.

In [51]:
s = [1,8,3,4]
b = sum(s)
a = len(s)
avg = b/a
print("sum =",b)
print("average = ",avg)

sum = 16
average =  4.0

## Tuples

### 5. Python program to reverse the given elements in tuple.

In [73]:
l3 = (1,7,2,8,3)
sorted(l3,reverse = )

AttributeError: 'tuple' object has no attribute 'sort'

## Sets

### 1. Take two sets and print the result using methods like Union, Difference and so on.

In [68]:
l1 = {4,5,6}
l2 = {9,5,1}
l1.union(l2)

{1, 4, 5, 6, 9}

In [69]:
l1 = {4,5,6}
l2 = {9,5,1}
l1.difference(l2)

{4, 6}